.main_chat
  .main_chat_header
    .main_chat_header__left-box
      %h2.main_chat_header__left-box__current-group
        techcamp
      %ul.main_chata_header__left-box__member-list
        Member : 
        %li.main_chata_header__left-box__member-list__member
          ハチノ
        %li.main_chata_header__left-box__member-list__member
          hachino
    .main_chat_header__edit
      Edit
  .main_chat_list
    .main_chat_list_text
      hachino
      .main_chat_list_text2
        2020/01/16 10:55
    .main_chat_list_text3
      text
  .main_chat_from
    .main_chat_from_new_message
      .main_chat_from_new_message_icon
        %p.main_chat_from_new_message_icon.img
          =link_to "#" do
            = icon('fas', 'image')
      .main_chat
    .main_chat_from_new_message_input-box
    .main_chat_from_send
      send