.side_bar{
  width: 300px;
    color: white;
    float: left;
  .side_bar_list{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .side_bar_list_top_items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }
  
  .side_bar_list_top_items_name{
    float: left;
    color: white;
  }
  .side_bar_list_top_items_icon{
    display: flex;
    float: right;
  }
  .side_bar_list_top_items_icon_user{
    float: right;
    a{
    color: #ffff;
    list-style: none;
  }
  }
  .side_bar_groups{
  padding: 20px 20px 0;
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  }
  .side_bar_groups_group{
  font-size: 15px;
  margin-bottom: 20px;
  color: #fff;
  }
  .group__name{
    font-size: 15px;
    margin-bottom: 5px;
    color: #fff;
  }
  .group__message{
    font-size: 12px;
    color: white;
    }
}  